@charset "UTF-8";
@import "./core/generic_boxsizing";
@import "./core/typography";
@import "./core/animation";
@import "./vendors/tailwind";

// CORE

.recommendation {
  @apply absolute rounded-full w-12 h-12 text-lg text-center leading-10 ease-out font-bold cursor-pointer select-none;
  @apply bg-white text-green-400 border-2 border-green-400;

  .tooltip {
    @apply absolute pointer-events-none w-screen leading-6 text-sm text-left font-normal duration-150 bg-white rounded-lg p-4;
    @apply text-green-400 border-2 border-green-400;
    max-width: 280px;
    left: calc(-140px + 2rem);
    bottom: 100%;

    .bg-green-400 { @apply bg-green-400 }
    .text-white   { @apply text-white }
  }
}

.bg-image {
  @apply absolute duration-500 w-screen h-screen z-n1 top-0 left-0 bg-no-repeat;
}

.bg-image:not(.active) {
  opacity: 0;
}

body {
  transition: background 500ms;
}

.nav-item {
  transition: margin-top ease-out 300ms;
}
.nav-item:hover {
  @apply text-green-200;
  margin-top: -2px;
  padding-bottom: 2px;
  transition: margin-top ease-out 300ms, color 500ms;
}

#radio-ui {
  label {
    @apply duration-500 rounded mx-2 px-4 py-2 cursor-pointer shadow;

    &:hover {
      @apply shadow-lg
    }
  }

  input:checked + label {
    @apply text-white border-none;
  }
  input + label > .switch {
    transform: translateX(-87px)
  }
  input:checked + label > .switch {
    transform: translateX(0px)
  }
}

#timeline {

  &::after {
    content: '';
    bottom: 2.75rem;
    width: 100%;
    border-bottom: 0.5px solid;
    @apply absolute border-gray-400 z-n1;
  }
  .spacer::before {
    content: '';
    left: 50%;
    width: 0;
    height: 100%;
    border-left: 0.5px solid;
    @apply absolute border-gray-400 z-n1;
  }
}



// TYPOGRAPHY

h1 {
  @apply text-xl font-bold uppercase mb-4;
}
blockquote {
  @apply inline text-green-400 text-4xl bg-yellow-300;
  padding: 1px;
}
