@charset "UTF-8";
@import "./core/generic_boxsizing";
@import "./core/typography";
@import "./core/animation";
@import "./vendors/tailwind";

// CORE

#nsw-instructions {
  @apply opacity-0 mt-12 text-xs text-gray-200;
}

svg .key {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.annotation {
  @apply absolute w-48 text-center text-white text-xs tracking-wide uppercase z-n1 text-green-200 duration-1000;

  &.frag {
    @apply text-center;
    width: 17rem;
  }
  &.soln {
    @apply text-center;
    width: 14.5rem;
  }
}

.recommendation {
  @apply absolute rounded-full w-12 h-12 text-lg text-center ease-out font-bold cursor-pointer select-none;
  @apply bg-white text-green-400 border-2 border-white;
  line-height: 42px;

  &.active {
    @apply bg-green-400 text-white;
  }

  .tooltip {
    @apply absolute pointer-events-none leading-6 text-sm text-left font-normal duration-150 bg-white rounded-lg p-4;
    @apply text-green-400 border-2 border-green-400;
    width: 90vw;
    max-width: 350px;
    left: calc(-175px + 2rem);
    bottom: 110%;
  }

}

.bg-image {
  @apply absolute duration-500 w-screen h-screen z-n1 top-0 left-0 bg-no-repeat;
}

.bg-image:not(.active) {
  opacity: 0;
}

body {
  transition: background 500ms;
}

.nav-item {
  transition: margin-top ease-out 300ms;
}
.nav-item:hover {
  @apply text-green-200;
  margin-top: -2px;
  padding-bottom: 2px;
  transition: margin-top ease-out 300ms, color 500ms;
}

#radio-ui {
  label {
    @apply duration-500 rounded mx-2 px-4 py-2 cursor-pointer shadow text-gray-400;

    &:hover {
      @apply shadow-lg
    }
  }

  input:checked + label {
    @apply text-white border-none;
  }
  input + label > .switch {
    transform: translateY(-50px)
  }
  input:checked + label > .switch {
    transform: translateY(0px)
  }
}

#timeline {

  &::after {
    content: '';
    bottom: 2.75rem;
    width: 100%;
    border-bottom: 0.5px solid;
    @apply absolute border-white opacity-75;
  }
  .spacer::before {
    content: '';
    left: 50%;
    width: 0;
    height: 100%;
    border-left: 0.5px solid;
    @apply absolute border-white opacity-75;
  }
}



// TYPOGRAPHY

h1 {
  @apply text-xl font-bold uppercase mb-4;
}
blockquote {
  @apply inline text-green-400 text-4xl bg-yellow-300;
  padding: 1px;
}
