extends ../_includes/layouts/default.pug

block slides
  - var imgpath = "../assets/images"

  include ../_includes/slides/00-introduction.pug
  include ../_includes/slides/01-context.pug
  include ../_includes/slides/02-timeline.pug
  include ../_includes/slides/03-decline.pug
  include ../_includes/slides/04-valuing-koalas-quote.pug
  include ../_includes/slides/05-economic.pug
  include ../_includes/slides/06-tourism-text.pug
  include ../_includes/slides/07-pop-culture.pug
  include ../_includes/slides/08-indigenous-culture.pug
  include ../_includes/slides/09-why-so-few-quote.pug
  include ../_includes/slides/10-thousand-cuts.pug
  include ../_includes/slides/11-threats.pug
  include ../_includes/slides/12-better-mgmt-quote.pug
  include ../_includes/slides/13-map.pug
  include ../_includes/slides/14-balancing-act.pug
  include ../_includes/slides/15-balancing-act-2.pug
  include ../_includes/slides/16-what-options-quote.pug
