extends ../_includes/layouts/default.pug

block slides
  - var imgpath = "../assets/images"
  - var mobileOverflow = false

  include ../_includes/slides/00-introduction.pug
  include ../_includes/slides/01-context.pug
  include ../_includes/slides/02-timeline.pug
  include ../_includes/slides/03-map.pug
  include ../_includes/slides/04-decline.pug
  include ../_includes/slides/05-decline-data.pug
  include ../_includes/slides/06-valuing-koalas-quote.pug
  include ../_includes/slides/07-economic.pug
  include ../_includes/slides/08-pop-culture.pug
  include ../_includes/slides/09-indigenous-culture.pug
  include ../_includes/slides/10-why-so-few-quote.pug
  include ../_includes/slides/11-thousand-cuts.pug
  include ../_includes/slides/12-threats.pug
  include ../_includes/slides/13-better-mgmt-quote.pug
  include ../_includes/slides/14-balancing-act.pug
  include ../_includes/slides/15-what-options-quote.pug
  
  - mobileOverflow = true
  
  include ../_includes/slides/16-18-recommendations.pug
  
  - mobileOverflow = false
  
  include ../_includes/partials/slide-blank.pug
  include ../_includes/partials/slide-blank.pug
  
  - mobileOverflow = true
  
  include ../_includes/slides/19-georges-river.pug
  
  - mobileOverflow = false
  
  include ../_includes/slides/20-gknp.pug
  include ../_includes/slides/21-journey-begin.pug
  include ../_includes/slides/22-forestry.pug
  include ../_includes/slides/23-forestry-2.pug
  include ../_includes/slides/24-forestry-3.pug
  include ../_includes/slides/25-translocate.pug
  include ../_includes/slides/26-translocate-2.pug
  include ../_includes/slides/27-farmers.pug
  include ../_includes/slides/28-farmers-2.pug
  include ../_includes/slides/29-wildfire.pug
  include ../_includes/slides/30-wildfire-2.pug
  include ../_includes/slides/31-final-gknp.pug
  include ../_includes/slides/32-cta.pug
