extends ../_includes/layouts/default.pug

block slides
  - var imgpath = "../assets/images"

  include ../_includes/slides/00-tester.pug
  include ../_includes/slides/00-introduction.pug
  include ../_includes/slides/01-context.pug
  include ../_includes/slides/02-timeline.pug
  include ../_includes/slides/03-pop-culture.pug
  include ../_includes/slides/04-indigenous-culture.pug
