extends ../_includes/layouts/default.pug

block slides

  include ../slides/00-introduction.pug
  include ../slides/01-context.pug
  include ../slides/02-timeline.pug
  include ../slides/03-pop-culture.pug
  include ../slides/04-indigenous-culture.pug
