mixin nav()
	- let n = 32
	- let delay = 0
	- let START = 0
	- let COUNT = 3
	- let VALUE = 6
	- let CAUSE = 10
	- let POLCY = 13
	- let REC0S = 16
	- let PARKS = 19
	- let HEROS = 21
	- let VISON = 31

	#pager
	#nav(style="transition: transform 0.5s;")
		#nav-line(style="top: .75rem; border-top: 0.5px dashed;")
		#nav-label SECTIONS ↴
		
		each v, i in new Array(n)
			case i
				when START
					- v = "Start"
				when COUNT
					- v = "Koalas in NSW"
				when VALUE
					- v = "Valuing Koalas"
				when CAUSE
					- v = "Causes of Decline"
				when POLCY
					- v = "Current Policy"
				when REC0S
					- v = "Recommendations"
				when PARKS
					- v = "Koala Parks"
				when HEROS
					- v = "Concerns"
				when VISON
					- v = "A Future Vision"
				default
					- v = ""
	    
			if v
				.relative.h-3.duration-500
					.nav-item.bg-green-400(
						class=`${(v ? "px-2" : "")} delay-${delay}`
						data-slide=i
					)= v
					- delay++
