mixin nav()
	- let n = 31
	- let delay = 0
	- let START = 0
	- let COUNT = 3
	- let VALUE = 5
	- let CAUSE = 11
	- let POLCY = 14
	- let REC0S = 16
	- let HEROS = 21

	#pager.absolute.bottom-0.h-3.w-3.bg-green-200.duration-500.ease-out.z-10.rounded-full
	#nav.fixed.bottom-0.w-screen.flex.text-center.text-sm.text-green-400.z-10(style="transition: transform 0.5s; height: 7rem;")
		#nav-line.absolute.border-white.w-screen.duration-500.opacity-0(style="top: .75rem; border-top: 0.5px dashed;")
		each v, i in new Array(n)
			case i
				when START
					- v = "Start"
				when COUNT
					- v = "Populations"
				when VALUE
					- v = "Value"
				when CAUSE
					- v = "Causes of Decline"
				when POLCY
					- v = "Current Policies"
				when REC0S
					- v = "Recommendations"
				when HEROS
					- v = "Arguments"
				default
					- v = ""
	        
			.relative.flex-1.h-3.duration-500
				.nav-item.absolute.opacity-0.playfair-italic.whitespace-no-wrap.cursor-pointer.z-10.slide-up(
					class=`${(v ? "px-2" : "")} delay-${delay}`
					data-slide=i
				)= v
				if v
					.nav-item-bg.absolute.px-2.z-1.text-green-400.bg-green-400.playfair-italic.whitespace-no-wrap= v
					- delay++
