extends ../partials/slide-wide.pug

block content
    
  .text-white.relative
    .text-center
      h1.tracking-wide.playfair.wght-450.text-5xl.whitespace-no-wrap The Great Koala Debate
      h1.tracking-wider.playfair-italic.wght-450.text-2xl.normal-case Lessons from the Parliamentary<br>Inquiry into Koala Populations
    p.mx-24.text-justify From June 2019 to June 2020, a parliamentary inquiry was tasked with investigating the state of koala populations in NSW. This interactive is a guide into the inquiry and what its recommendations mean for the future of koalas.
    
    .uppercase.text-base.text-center.py-6
      | Use arrow keys to advance
      .w-20.m-auto
        +picture(imgpath, 'arrows', ['png'], 'Arrow keys')
        
  .absolute.inset-x-0.text-white.uppercase.text-base.text-center.duration-500(style="bottom: 7.75rem;")
    | Or jump to a section
