extends ../partials/slide.pug

block content
    
  .text-white
    .text-center
      h1.text-4xl The Great Koala Debate
      h1.text-base.italic Lessons from the Parliamentary Inquiry into Koala Populations
    p From June 2019 to June 2020, a parliamentary inquiry was tasked with investigating the state of koala populations in NSW. This interactive is a guide into the inquiry and what its recommendations mean for the future of koalas in Australia.
    
    .uppercase.text-base.text-center.py-6
      | Use arrow keys to advance
      .w-20.m-auto
        +picture(imgpath, 'arrows', ['png'], 'Arrow keys')
      | <br><br> or jump to a section
      
