extends ../partials/slide.pug

block content

  h1 About The Inquiry
  p The inquiry committee, comprised of Liberal, Labor, Nationals, Animal Justice and Greens members, received 330 public submissions on koala populations and habitat.
  p Submissions came from NSW Government, Forestry Corporation of NSW, The Australian Workers Union, Timber NSW, WWF, WIRES, Environmental Defenders Office NSW, local councils, and koala scientists. 
  p The 
    +link("inquiry report", "https://www.parliament.nsw.gov.au/lcdocs/inquiries/2536/Koala%20populations%20and%20habitat%20in%20New%20South%20Wales%20-%20Report%203.pdf")
    | , released on 30 June 2020, revealed that under current management plans, koalas could become extinct in NSW by 2050. But, it also emphasised that extinction was not inevitable. The report listed 42 state-level recommendations to ensure a thriving future for koalas. There are solutions.
