extends ../partials/slide.pug

block content
  h1 A Recent history
  p Several key events related to koala population management preceded the inquiry.
  ul 
    li 2016: NSW Chief Scientist & Engineer releases a report on declining koala populations in NSW
    li 2017: Various land management and biodiversity reforms are introduced, including the Biodiversity Conservation Act 2016
    li 2018: NSW Government commits to a $44.7M Koala Strategy 
    li 2019: NSW inquiry into koala populations is launched 
    li Bushfires burn across Australia
    li 2020: The inquiry releases its report 
