extends ../partials/slide.pug

block content
  h1 Counting Koalas
  p Counting Koalas is tricky business. With subpopulations so varied, sparse, and non-uniformly distributed across the state, observations in one area cannot be generalised to others. Data and collection methods are not yet standardised, leaving any estimates of total population with a big caveat of uncertainty. 
    span.italic (R1)
  p Finding absolute koalas numbers isn’t pragmatic, nor is it overly insightful. Top ecologists instead prefer to look at the 
    span.italic rate of change 
    | of two measures which the IUCN uses to determine a species' risk of extinction: The 
    span.italic Area of Occupancy 
    | and the 
    span.italic Extent of Occurrence.
  
    p Lacking updated research, many inquiry submissions referred to 
      +link("a study", "https://onlinelibrary.wiley.com/doi/epdf/10.1111/ddi.12400")
      |  which estimated 36,000 NSW koalas as of 2012 &ndash; a 26% decrease on ~1994. The study projected a similar decrease for the next two decades.* 
    
    .text-base.italic.text-gray-400: p * A recent study which accounts for the bushfires up to 10 Dec 19 estimates this decline rate is now between 28.5&mdash;65.9%.
    
  //.italic.text-xl [The area of occupancy's] decline is so fast ... it does not matter whether you have 5k, 10k, or 50k, it warrants recognition of this animal as endangered at a State level already.
    span.py-4.text-lg.italic.text-gray-400 &mdash; Dr Stephen Phillips, Managing Director & Principal Research Scientist of Biolink (1.9)
