extends ../partials/slide.pug

block content
  h1 Reality of the decline
  p.italic With all this effort, has the situation improved?
  p DATA TO COME...The Government’s commitment to the $44.7M Koala Strategy comes as a response to diminishing koala numbers.
