extends ../partials/slide.pug

block content

  - let copy = ['Highlighted on the map are <b data-target="0" class="select-none cursor-pointer border-b-4 border-yellow-300">koala hubs</b> — 100K hectares of NSW\'s highest quality koala habitat. Many are also urban development hotspots.','Just 16% of koala hubs are currently protected as <b data-target="1" class="select-none cursor-pointer border-b-4 border-yellow-300">national&nbsp;park</b>.','19% is NSW <b data-target="2" class="select-none cursor-pointer border-b-4 border-yellow-300">state&nbsp;forest</b>, open for logging and urban development.', 'And 65% is on <b data-target="3" class="select-none cursor-pointer border-b-4 border-yellow-300">private&nbsp;land</b>, where conservation is most complex.', 'A quarter of the hubs were scorched in the 2019-20 \'black summer\' <b data-target="4" class="select-none cursor-pointer border-b-4 border-red-300">bushfires</b>.']
  
    #nsw-map.absolute.left-0.top-0.min-h-screen.min-w-full.z-n1: svg
    #nsw-map-text.flex.absolute.left-0.top-0.min-h-screen.min-w-full.z-1
      .map-col
      .map-text
        h1 Koalas in NSW
        p#nsw-instructions Click <span class="border-b-2">underlined items</span> to toggle on map.
        .relative
          each p,i in copy
            .map-p.mb-4!= p
        
        
