extends ../partials/slide.pug

block content

  - let copy = ['Highlighted on the map are <b data-target="0" class="cursor-pointer border-b-4 border-yellow-300">koala hubs</b> — 100K hectares of NSW\'s highest quality koala habitat. Many are also urban development hotspots.','Just 16% of koala hubs are currently protected as <b data-target="1" class="cursor-pointer border-b-4 border-yellow-300">national park</b>.','19% is NSW <b data-target="2" class="cursor-pointer border-b-4 border-yellow-300">state forest</b>, open for logging and urban development.', 'And 65% is on <b data-target="3" class="cursor-pointer border-b-4 border-yellow-300">private land</b>, where conservation is most complex.', 'A quarter of the hubs were scorched in the 2019-20 \'black summer\' <b data-target="4" class="cursor-pointer border-b-4 border-red-300">bushfires</b>.']
  
    #nsw-map.absolute.left-0.top-0.min-h-screen.min-w-full.z-n1
    #nsw-map-text.flex.absolute.left-0.top-0.min-h-screen.min-w-full.z-1
      div(class="w-7/12")
      .my-auto.px-8(class="w-1/3")
        h1 Koalas in NSW
        .relative
          #map-progress.h-0.absolute.border-l-4.border-yellow-300(style="left: -1.5em;")
          each p,i in copy
            .map-p.mb-4.opacity-25!= p
        
        #nsw-instructions Click <span class="border-b-2">underlined items</span> to toggle on map.
