extends ../partials/slide.pug

block content
  h1 Counting Koalas
  
  .text-base.italic.text-gray-400
    p Lacking updated research, many inquiry submissions referred to 
      +link("a study", "https://onlinelibrary.wiley.com/doi/epdf/10.1111/ddi.12400")
      |  which estimated 36,000 NSW koalas as of 2012 &ndash; a 26% decrease on ~1994. The study projected a similar decrease for the next two decades.* 
    p * A recent study which accounts for the bushfires up to 10 Dec 19 estimates this decline rate is now between 28.5&mdash;65.9%.
