extends ../partials/slide.pug

block content
  h1 Counting Koalas
  
  p Nobody knows exactly how many koalas are left in NSW. Subpopulations are varied and non-uniformly distributed across the state, so observations in one area cannot be generalised to others. Data and collection methods also aren’t standardised.
  
  p 
    | Inquiry submissions mostly cited 
    +link('a study', 'https://onlinelibrary.wiley.com/doi/epdf/10.1111/ddi.12400')
    |  estimating 36,000 NSW koalas as of 2012. The same model projected a decrease to 26,640 by 2030. However, a more 
    +link('recent investigation', 'https://www.ifaw.org/au/resources/koala-conservation-status-new-south-wales')
    |  revises this projection as between 12,276–25,740.

  p Because of the uncertainty in koala counts, ecologists prefer two other metrics: <em>Area of Occupancy (AOO)</em> and the <em>Extent of Occurrence (EOO)</em>.
