extends ../partials/slide.pug

block content
  h1 Economic value
  p CHART TO COME...
  p Koala population decline is a problem considering the value of koalas to NSW, where koalas are linked with 9,000 jobs and contribute $2.5B to the state's economy each year.
  p Although the government's $44.7M Koala Strategy is significant, it equates to just 1.8% of the $2.5B yearly revenue brought in by koalas.
