extends ../partials/slide-left.pug

block content
  .bg-image.bg-right-top.bg-cover(style=`background-image: url(${imgpath}/tourism.png)`)
  .px-6
    h1 The Value of Koalas
    blockquote Nature is the number one reason people visit our area [and] seeing a wild koala is one of the primary goals
    .py-4.text-lg.italic.text-gray-400 &mdash; Kevin Evans and Robert Bentley (9.46)
