extends ../partials/slide-left.pug

block content
  .bg-image.bg-right-top.bg-contain(style=`background-image: url(${imgpath}/tourism.png); max-width: 1000px`)
  .px-6

    blockquote “Nature is the number one reason people visit our area [and] seeing a wild koala is one of the primary goals”
    .py-4.text-lg.italic.text-gray-400 &mdash; Inquiry submission from Kevin Evans and Robert Bentley,<br>&emsp;accommodation owners in Bellingen
