extends ../partials/slide.pug

block content
  //h1.text-center Koalas generate
  
  .flex.text-center.px-8
    .flex-1
      .text-5xl.playfair.text-black 9000
      .relative.inline.uppercase.text-base.font-medium Jobs in NSW
    .flex-1
      .text-5xl.playfair.text-black 
        sup.text-2xl $
        | 2.5B
      .relative.inline.uppercase.text-base.font-medium Annual revenue
      
  .relative.my-8.w-full.text-center.text-white.font-medium.bg-green-200.rounded.uppercase.text-sm.tracking-wide(style="height: 3rem; line-height: 3rem") Koala contribution to NSW economy
    .absolute.h-full.rounded-l.bg-green-400.left-0.top-0(style="width: 0.6%")
      .absolute.h-4.border-l.border-green-400(style="top: 3.15rem; left: 25%")
      .absolute.w-0.h-0.border-transparent.border-2(style="border-bottom: 5px solid #2f493d; top: 3rem; left: calc(25% - 1.5px);")
      .absolute.left-0.whitespace-no-wrap.text-green-400.text-sm.leading-none(style="top: 4.25rem; font-size: 0.75rem") NSW Investment in Koala Strategy
    
  p.mt-20
    span.font-medium Koala decline means economic decline. <br>
    | In NSW, koalas are linked to 9,000 jobs and contribute $2.5B to the state's economy each year 
    span.italic (9.42). 
    | The government's three-year, $44.7M Koala Strategy is significant, yet annually it’s just 0.6% of the $2.5B revenue brought in by koalas.
