extends ../partials/slide.pug

block content
  .bg-image.bg-left-bottom.bg-contain(style=`background-image: url(${imgpath}/obama-putin.png)`)
  h1 Tourism value
  p Koalas are a major drawcard for international and domestic travellers and, in key areas, their economic value through tourism outweighs the potential benefits of development. In a post-COVID world, koalas will continue to be a drawcard.
  p We explore the economics in greater depth in SECTIONXXX, but the following anecdote highlights the significance and value people place on koala protection: 
    span.italic Initially seeking to raise $25,000 for their bushfire appeal, the Port Macquarie Koala Hospital received almost $8 million in donations from both Australians and the global community.
