extends ../partials/slide.pug

block content
  .text-white
    h1 Indigenous Significance
    p Koalas hold Indigenous cultural significance. The Dharawal people tell the story of how the koala helped row the boat that brought them to Australia. For Bidjara people, the koala transformed the land from barren desert to lush forest. For other Aboriginal peoples, the koala created the first rainbow, or lost its tail to a kangaroo.
    .py-4.text-lg.text-gray-400 &mdash; From the book <i>Koala: Origins of an Icon</i> by Stephen Jackson
