extends ../partials/slide-left.pug

block content
  .bg-image.bg-left.bg-contain(style=`background-image: url(${imgpath}/decline.png)`)
  h1 Causes of decline
  blockquote There are strong imperatives to protect koalas, so why are there so few remaining? 
