extends ../partials/slide.pug

block content
  .text-white
    h1 Indigenous Significance
    p Koalas are also significant in the Dreamtime stories of Australian Indigenous peoples. The Dharawal people tell the story of how the koala helped row the boat that brought them to Australia. For Bidgara people, the koala transformed the land from barren desert to lush forest. Other tales share how the koala created the first rainbow, and lost its tail to a kangaroo. 
    p (From the book <i>Koala: Origins of an Icon</i> by Stephen Jackson)
