extends ../partials/slide.pug

block content

  blockquote Death by 1000 cuts
  p.my-8 Overwhelmingly, the inquiry report found that loss and fragmentation of habitat over time is the major reason for declining koala numbers. Koala habitat is lost to development projects, logging, agricultural land clearing and mine sites. No habitat means no koalas.
