extends ../partials/slide.pug

block content
  p: b Habitat loss also magnifies other threats.
  p Koalas can travel up to 2km per week during seasonal changes or when looking for new food, water, or shelter. Recent drought and a warming climate are now pushing koalas slowly toward the south and east of NSW, away from the hotter and drier inland conditions.
  p Without large forests to live in and wide forested corridors to travel through, koalas become more vulnerable to dog attacks and vehicle strikes. Wilderness is the koala’s only armour.
  p Disease, particularly chlamydia, has also contributed to koala decline.
