extends ../partials/slide.pug

block content
  h1 "Death by 1000 cuts"
  p 
    | Overwhelmingly, the inquiry report found that loss and fragmentation of habitat over time is the major reason for declining koala numbers 
    span.italic (F4)
    | . Koala habitat is lost to development projects, logging and mine sites. No habitat means no koalas.
