extends ../partials/slide.pug

block content
  h1 Magnified threats
  p Losing their home grounds, koalas are forced into suboptimal habitat. These environments worsen with droughts and a warming climate. Koalas become malnourished and dehydrated.
  p Without large forests to live in and wide forested corridors to travel through, koalas searching for food, water or shelter become more vulnerable to dog attacks and vehicle strikes. High-quality habitat is the koala’s only armour.
  p Disease, particularly chlamydia, has also contributed to koala decline.
