extends ../partials/slide-left.pug

block content
  .bg-image.bg-right.bg-contain(style=`background-image: url(${imgpath}/management.png)`)
  h1 A balancing act
  blockquote If habitat loss and fragmentation is the root cause for koala decline, why hasn’t the government better managed koala habitat?
