extends ../partials/slide-left.pug

block content
  .bg-image.bg-right.bg-contain(style=`background-image: url(${imgpath}/management.png); max-width: 550px`)
  blockquote What has the government done to manage koala habitat?
