extends ../partials/slide.pug

block content
  h1 Threats
  p Habitat loss also magnifies other threats. Koalas are anti-social creatures, and without large areas of connected land and forested corridors for travel, they are more vulnerable to animal attacks, vehicle strikes and exclusionary fencing when moving in search of food, water and shelter. 
  p The search for alternative habitat is further necessitated by changing environmental conditions from fire, drought and climate change. Across the state, koala populations are generally migrating to the south and east, away from the hotter, drier inland climate.
  p Disease, particularly chlamydia, has also contributed to koala decline.
