extends ../partials/slide.pug

block content
  
  p 
    | Successive governments have been, as one submission put it, 
    em “cutting down trees with one hand and picking up injured koalas with the other”.
    |  This has been reflected in policy.


  p 
    | For instance, the <em>
    +link('Local Land Services Act 2013', 'https://www.legislation.nsw.gov.au/view/html/inforce/current/act-2013-051')
    | </em> requires landowners only do a “self-assessment” of koala habitat before clearing land. And although the aim of the <em>
    +link('State Environmental Planning Policy (Koala Habitat Protection) 2019', 'https://www.legislation.nsw.gov.au/view/html/inforce/current/epi-2019-0658')
    | </em> or <em>SEPP</em>, is to “reverse the current trend of koala population decline”, it exempts major state developments from koala-related obligations. It also exempts projects smaller than 1ha, ignoring the significant cumulative impact many small projects can and do have.

  p 
    | The <em>SEPP</em> hit headlines recently when NSW National Party Leader John Barilaro vehemently opposed it, concerned about its impact on 
    +link('fellow', 'https://www.theguardian.com/australia-news/2020/may/07/nsw-deputy-premier-spent-weekend-on-the-farm-despite-telling-public-not-to-travel')
    |  rural landowners. The policy adds 55 tree species to the koala feed list, thereby asking more due-diligence of owners before clearing koala-significant land.
