extends ../partials/slide.pug

block content
  h1 A Balancing Act
  p In these koala hubs, successive governments over decades have prioritised development over conservation. Strong protections have been avoided in favour of funding recovery efforts; as one submission put it:
    span.italic “cutting down trees with one hand and picking up injured koalas with the other”.
  p For instance, the 
    +link("State Environmental Planning Policy (Koala Habitat Protection) 2019", "https://www.legislation.nsw.gov.au/view/html/inforce/current/epi-2019-0658")
    | , with the stated aim of reversing koala population decline, doesn’t apply to developments of less than 1ha. Over time, the sum of many small developments add up.
  p Additionally, the 
    +link("Biodiversity Conservation Act 2016", "https://www.legislation.nsw.gov.au/view/html/inforce/current/act-2016-063")
    |  only requires private landowners to do a self-assessment of koala habitat before clearing land. Proposed tightening of this rule hit major headlines recently, ending in an explosive reaction from the National Party and a blustery (but failed) threat to dissolve the coalition.
