extends ../partials/slide.pug

block content
  
  .text-long
    h1 BULLDOZERS AND BAND-AIDS
    
    p 
      | Successive government policies have, as one submission put it, 
      em “cut down trees with one hand and picked up injured koalas with the other”.


    p
      | For instance, the <em>
      +link('Planning Policy for Koala Habitat 2019', 'https://www.legislation.nsw.gov.au/view/html/inforce/current/epi-2019-0658')
      | </em> aims to “reverse the current trend of koala population decline”, yet it exempts major state developments from koala-related obligations. It also exempts projects smaller than 1 ha, ignoring the cumulative impact of many small developments over time.
      | Further, under the 
      +link('Local Land Services Act 2013', 'https://www.legislation.nsw.gov.au/view/html/inforce/current/act-2013-051')
      |  landowners are merely required to “self-assess” koala habitat before clearing land.
      
    p 
      | Koala policy hit headlines recently when NSW Nationals Leader John Barilaro opposed a draft guideline under the <em>Planning Policy for Koala Habitat 2019</em>, concerned about its impact on 
      +link('fellow', 'https://www.theguardian.com/australia-news/2020/may/07/nsw-deputy-premier-spent-weekend-on-the-farm-despite-telling-public-not-to-travel')
      |  rural landowners. The guideline would expand the list of recognised koala feed trees considered in the development approval process.
      | Barilaro backed down, but in November 2020 the NSW Government abandoned the 2019 policy entirely and 
      +link('reinstated', 'https://www.planning.nsw.gov.au/Policy-and-Legislation/Environment-and-Heritage/Koala-Habitat-Protection-SEPP')
      |  the 1995 version. Koalas have been a creature of controversy.
