extends ../partials/slide.pug

block content
  h1 A Balancing Act
  p Successive governments have prioritised quick economic wins over meaningful environmental policy. As one submission put it: 
    em “cutting down trees with one hand and picking up injured koalas with the other”.
    

  p 
    | For instance, the <em>
    +link('Local Land Services Act 2013', 'https://www.legislation.nsw.gov.au/view/html/inforce/current/act-2013-051')
    | </em> requires landowners only do a “self-assessment” of koala habitat before clearing land. And although the aim of the 
    +link('State Environmental Planning Policy (Koala Habitat Protection) 2019', 'https://www.legislation.nsw.gov.au/view/html/inforce/current/epi-2019-0658')
    | or 'SEPP', is to “reverse the current trend of koala population decline”, it exempts major state development projects from any koala-related obligations. It also exempts projects smaller than 1ha, ignoring the significant cumulative impact many small developments can and do have.

  p 
    | The SEPP hit headlines recently when National Party Leader John Barilaro vehemently opposed its adoption, concerned about its impact on 
    +link('fellow', 'https://www.theguardian.com/australia-news/2020/may/07/nsw-deputy-premier-spent-weekend-on-the-farm-despite-telling-public-not-to-travel')
    |  rural landowners. To protect the dwindling koala population, the policy adds 55 tree species to the koala feed list, thereby increasing the due-diligence required of owners before clearing any koala-significant land.  The bill is still under consideration.
