extends ../partials/slide.pug

block content
  h1 A Balancing Act
  p In key koala hubs, successive governments have prioritised development over conservation. Strong protections have been avoided in favour of funding population recovery efforts; as one submission put it: 
    span.italic “cutting down trees with one hand and picking up injured koalas with the other”.
  p For instance, the 
    span.italic
      +link("State Environmental Planning Policy (Koala Habitat Protection) 2019", "https://www.legislation.nsw.gov.au/view/html/inforce/current/epi-2019-0658")
    | , with the stated aim of reversing koala population decline, doesn’t apply to developments of less than 1ha. Over time, the collective impact of many small developments adds up.
    
  p Proposed changes to strengthen koala protection on private land under this policy hit major headlines recently, gaining an explosive reaction from the National Party and a blustery (but failed) threat to dissolve the coalition.
  
  p Additionally, the 
    span.italic
      +link("Biodiversity Conservation Act 2016", "https://www.legislation.nsw.gov.au/view/html/inforce/current/act-2016-063")
    |  only requires private landowners to do a self-assessment of koala habitat before clearing land. 
