extends ../partials/slide.pug

block content
  h1 A Balancing Act
  p The Biodiversity Act also supports offsetting and koala translocation for larger development projects, like mining and logging. Although there are some success stories, multiple submissions highlighted the majority of cases where translocations had “tragically failed”.
  p In the words of XXX:
    span.italic “Translocation is unproven and should only be used as a last resort”.
