extends ../partials/slide-left.pug

block content
  .bg-image.bg-right-top.bg-cover(style=`background-image: url(${imgpath}/options.png)`)
  blockquote How can we protect koala populations from habitat loss and fragmentation?
