extends ../partials/slide-left.pug

block content
  .bg-image.bg-left.bg-contain(style=`background-image: url(${imgpath}/options.png)`)
  blockquote What options are there for protecting koala populations from habitat loss and fragmentation?
