extends ../partials/slide-left.pug

block content

  #soln-map.absolute.left-0.top-0.min-h-screen.min-w-full.z-n1.duration-500.ease-out: svg
  
  .flex.absolute.left-0.top-0.min-h-screen.min-w-full.z-1
    .map-col
    .map-text.soln-map
      .park-title Georges River Koala National Park
      .text-base
        p This proposal would see 4&thinsp;000 ha of koala habitat in South-West Sydney converted to national park and protective infrastructure installed along key boundaries.
        p The koala habitat closest to the Sydney CBD, it is particularly vulnerable to urban development. It is also the most accessible destination for wild koala-spotting. With the Western-Sydney airport opening in 2026, tourism to the Georges River Koala National Park could be an “economic jackpot” for a region of relatively low socio-economic status. The koala population here is particularly important — the only population in NSW that is chlamydia-free.
      
        p.footnote
          | Note: Two months after the inquiry report was published, NSW Minister for Energy and Environment, Matt Kean, 
          +link('approved the establishment', 'https://mattkean.com.au/video/protection-koala-population')
          |  of the Georges River National Park. (However, it will be phased over 10 years and protect 1&thinsp;885 ha, not 4&thinsp;000.)
