extends ../partials/slide-left.pug

block content

  #soln-map.absolute.left-0.top-0.min-h-screen.min-w-full.z-n1.duration-500.ease-out
  .flex.absolute.left-0.top-0.min-h-screen.min-w-full.z-1
    div(class="w-7/12")
    .my-auto.px-8(class="w-1/3")
      h1 George's River
