extends ../partials/slide-left.pug

block content

  .flex.absolute.left-0.top-0.min-h-screen.min-w-full.z-1
    .map-col
    .map-text.soln-map
      .park-title The Great Koala National Park
      .text-base
        p The Coffs Harbour hinterland is koala country — over 40% of all koala hubs in NSW are located here. The proposed Great Koala National Park would protect 175&thinsp;000 ha of state forest, creating an expansive and connected area designed for tourism and koala conservation.
        p The Park would encompass 315&thinsp;000 ha in total (converted state forests combined with 140&thinsp;000 ha of existing national park) and include numerous walking trails, a 215km hiking track, a 65km horseback trail, and an extensive mountain bike network.
        p The proposal has been co-created and endorsed by the local Gumbaynggiru people. Due to the area’s size and environmental diversity, the Great Koala National Park gives NSW koalas their best hope at climate adaptation.
