extends ../partials/slide-left.pug

block content

  .flex.absolute.left-0.top-0.min-h-screen.min-w-full.z-1
    div(class="w-7/12")
    .my-auto.px-8.text-white(class="w-1/3")
      h1 The Great Koala National Park
      p The Coffs Harbour hinterland is koala country — over 40% of all “koala hubs” in NSW are here. The proposed Great Koala National Park would protect 175K hectares of state forest, creating an expansive and connected national park designed for tourism and koala conservation.
      p The park would encompass 315K hectares in total (the state forests combine with 140K hectares of adjacent national park) and include copious walking tracks, a 215km walk-through hike, a 65km horseback trail, and an extensive mountain bike network.
      p The proposal has been co-created and endorsed by the local Gumbaynggiru people and, due to the area’s size and environmental diversity, gives NSW koalas their best hope at climate adaptation in years to come.
