extends ../partials/slide-left.pug

block content

  .flex.absolute.left-0.top-0.min-h-screen.min-w-full.z-1
    div(class="w-7/12")
    .my-auto.px-8(class="w-1/3")
      h1 GKNP
      ul
        li Mid-north coast, adding 175 000 ha of protected parkland, to total a 0.5M ha park
        li Endorsed by the Gumbaynggiru people, who were also involved in planning the proposal (9.18)
        li Gives koalas their best hope at climate adaptation due to large and diverse area
        li Concept includes copious walking tracks, 215km world-class hike, 65km horseback trail, extensive mountain bike network.
