extends ../partials/slide-left.pug

block content
  .bg-image.bg-right-top.bg-cover(style=`background-image: url(${imgpath}/tourism.png)`)
  blockquote What concerns would the creation of the Great Koala National Park come up against?
