extends ../partials/slide-left.pug

block content
  .bg-image.bg-right-top.bg-contain(style=`background-image: url(${imgpath}/tourism.png); max-width: 1000px`)
  blockquote What concerns would the creation of the Great Koala National Park come up against?
