extends ../partials/slide-left.pug

block content
  .bg-image.small.bg-right-bottom.bg-contain(style=`background-image: url(${imgpath}/journey.png); max-width: 400px`)
  blockquote What concerns would the creation of the Great Koala National Park come up against?
