extends ../partials/slide-left.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=`background-image: url(${imgpath}/options.png)`)
  blockquote What concerns would the creation of two koala parks come up against?
