extends ../partials/slide.pug

block content
  .bg-image.small.bg-right-bottom.bg-contain(style=`background-image: url(${imgpath}/economic.png); max-width: 300px`)
    
  h1 Koala Economics
  
  .text-long
    
    p Timber production groups raised concerns about the economic impact of the Great Koala National Park in their submissions. They cited two reports as evidence:
    
    p 
      ol
        li 1.&emsp;A Forest & Wood Products Australia (FWPA) report on the cost of converting all state forests in the region to national parks.<br>
        li 2.&emsp;A report for the Australian Forest Products Association (AFPA) on the cost of cancelling all Wood Supply Agreements (WSAs) in the region. 

    p The economic models in both reports are unsuitable for the Great Koala National Park proposal.

    p The area they assess — the North-East Regional Fire Agreement area — is over five times larger than the proposed Park. They both assume that all logging across this region stops completely, ignoring revenue and employment from continued logging nearby. Further, the FWPA report assumes no increase in tourism, visitor spending, or additional job creation in converting the state forest to national park.
  
  //.text-long

    p Inquiry submissions from timber production groups raised concerns about the economic impact of the Great Koala National Park. Their submissions cited two reports:
    p 
      span.font-medium 
        | A Forest & Wood Products Australia (FWPA) 
        +link('report', 'https://www.fwpa.com.au/images/resources/Amended_Final_report_C_native_forests_PNC285-1112.pdf')
        |  on the cost of converting <em>all</em> state forests in the region to national parks.<br>
      | FWPA estimated the cost of transition at $540M and the economic loss of retiring the regional timber industry at $3.36B.^
    p 
      span.font-medium
        | An EY 
        +link('report', 'https://www.parliament.nsw.gov.au/lcdocs/other/12376/Tabled%20Document-%20Document%20entitled%20-%20The%20economic%20impact%20of%20the%20cancellation%20of%20NSW%20North%20Coast%20Wood%20Supply%20Agreements.pdf')
        |  for the Australian Forest Products Association (AFPA) on the cost of cancelling all Wood Supply Agreements (WSAs) in the region.<br>
      | Most submissions highlighted the report's estimated annual <em>gross</em> economic loss of $757M and 1,871 job losses in NSW. But the estimated <em>value-added</em>* economic loss identified in the report was $292M.
      
    p.footnote(style="max-width: inherit")
      span(style="white-space: nowrap") ^ Both estimates are <em>value-added</em> and calculated over a 65 year period at a discount rate of 7.5%.<br>
      span(style="white-space: nowrap") * <em>Value-added</em> output is an industry's contribution to state product (i.e. gross output minus costs).
