extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Logging Industry
  p In its submissions, NSW Forestry Corporation raised concerns that the creation of the GKNP “would cost $757 million a year to the NSW economy and cut almost 2000 jobs” (9.30).
