extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Socio-economic impact
  p Organisations involved in timber production raised concerns about the socio-economic impact of establishing the Great Koala National Park. Their submissions invariably cited two reports:
  p 
    span.font-medium 
      | A Forest & Wood Products Australia (FWPA) 
      +link('report', 'https://www.fwpa.com.au/images/resources/Amended_Final_report_C_native_forests_PNC285-1112.pdf')
      |  on the cost of converting all state forests in the region to national parks.<br>
    | FWPA estimated the cost of transition at $540M and the economic loss of retiring the regional timber industry at $3.36B. (Both estimates are value-added and calculated over a 65 year period at a discount rate of 7.5%.)
  p 
    span.font-medium
      | An EY 
      +link('report', 'https://www.parliament.nsw.gov.au/lcdocs/other/12376/Tabled%20Document-%20Document%20entitled%20-%20The%20economic%20impact%20of%20the%20cancellation%20of%20NSW%20North%20Coast%20Wood%20Supply%20Agreements.pdf')
      |  for the Australian Forest Products Association (AFPA) on the cost of cancelling all Wood Supply Agreements (WSAs) in the region.<br>
    | Most submissions chose to highlight this report's estimated annual gross economic loss of $757M and 1871 job losses in NSW. More important (though less cited in submissions) was the estimated value-added economic loss, which this report found to be $292M in NSW.
