extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)

  p
    | In February 2021, the University of Newcastle and Hunter Research Foundation Center released a 
    +link('report', 'http://www.hrf.com.au/gknp')
    |  on the potential economic impact of the Park. They found the loss of timber jobs and revenue in the medium-term would be over-compensated by new opportunities in park management and eco-tourism. The table below compares jobs and revenue in the Mid-North Coast over 10 years:
  
  table.economics-table
    thead
      tr
        th &nbsp;
        th Logging (AFPA)
        th Logging
        th Great Koala NP
      tr
        td
          h2.text-3xl Revenue
          em Value added
        td
          h2
            small: sup $
            | 224
            small M
          em per annum
        td
          h2
            small: sup $
            | 292
            small M
          em at 7% DR
        td
          h2
            small: sup $
            | 823
            small M
          em at 7% DR
      tr
        td
          h2.text-3xl Direct jobs
          em In the region
        td: h2 566
        td: h2 675
        td: h2 4638
