extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover
  
  .text-long
  
    p In both reports, the economic models are based on assumptions unsuited to the Great Koala National Park proposal. 
    
    p Although labelled differently, both models use a similar region of impact — the North-East Regional Fire Agreement area — which is over five times larger than that of the proposed Great Koala National Park. Both models assume all logging across this expanded region stops completely, overestimating the scale of protections and ignoring production and employment from continued private logging nearby.
    
    p Further, the FWPA report assumes no increase in tourism, visitor spending, or additional job creation in converting state forest to national park. The Great Koala National Park is designed for tourism.

    p.footnote(style="max-width: inherit") Note: NSW Forestry Corp opposed the GKNP on economic grounds. However, in the parliamentary report, they were criticised for being an irresponsible corporate citizen; recieving 245 non-compliances in 2014-15 alone. Immediately after the 2019-20 bushfires, they salvage logged south-coast forests before damage could be assessed and new protections introduced.
