extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Socio-economic impact
  p In both reports, the economic models are based on assumptions unsuited to the Great Koala National Park proposal. 
  p For example, although labelled differently, both reports use a similar "region" of impact — the North-East RFA region — which is over 5x larger than that of the proposed GKNP. Both models assume all logging across this region stops completely. This overestimates the scale of protections and ignores production and employment from continued logging on private plantations nearby.
  p Further, the FWPA assessment assumes no increase in tourism, visitor spending, or additional job creation in converting state forest to national park. Applied to the designed-for-tourism GKNP, this seems particularly unreasonable. 

  p.absolute.bottom-0.mb-16.text-xs.italic(style="max-width: inherit") Note: In the parliamentary report, it was pointed out NSW Forestry Corp has not been a responsible corporate citizen. They had 245 non-compliances with forestry requirements in 2014-15 alone. They also salvage logged the south-coast immediately after the bushfires before the full extent of the bushfire damage was assessed and subsequent new protections could be introduced.
