extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Logging Industry
  p But an analysis comparing the economic benefits of logging versus tourism indicates that tourism wins out.
  
  .text-xs.italic In an inquiry submission, it was pointed out NSW Forestry Corp has not been a responsible corporate citizen. They had 245 non-compliances with forestry requirements in 2014-15. They also salvage logged the south-coast immediately after the bushfires before the full extent of the bushfire damage was assessed and subsequent new protections could be introduced.
