extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)

  p Together, these reports inflate the true cost of establishing the Great Koala National Park. Nonetheless, we’ll use the numbers to compare expense to opportunity:
  
  table.economics-table
    thead
      tr
        th &nbsp;
        th Business as usual
        th Converting to GKNP
      tr
        td Cost of transition
        td -
        td $540M
      tr
        td Annual revenue
        td $292M value-added
        td TBC
      tr
        td Long-term revenue
        td $3.36B over 65 years
        td TBC
      tr
        td Direct jobs
        td 652
        td TBC
      tr
        td Indirect jobs
        td 1219
        td TBC
