extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Economic impact
  p Together, these reports very likely inflate the true cost of establishing the Great Koala National Park. Nonetheless, we’ll use the numbers to compare expense to opportunity:
