extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Translocation
  p Another alternative that might be raised is why not just translocate existing koala populations to areas where habitat is already under protection? 
  p This method of protection has been proposed for the Shenhua Watermark mine in the Gunnedah region to deal with the local koala population found on the mine site.  
