extends ../partials/slide.pug

block content
  .bg-image.small.bg-left-bottom.bg-contain(style=`background-image: url(${imgpath}/translocation.png); max-width: 300px`)

  h1 Translocation: an alternative?
  p When a koala population is under threat, translocation is often proposed by industry. This involves moving koalas to alternative habitat that is already under protection, instead of protecting their existing habitat.
  p For example, this method of management has been proposed to deal with the koala population in the Gunnedah region, who live at the newly approved Shenhua Watermark mine site.
  
  .py-12
