extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Translocation
  p Firstly, acclimatising to a new area involves time spent searching on the ground. This puts koalas at a greater risk of predation. New habitats might also have existing koala populations that are impacted by disease, or without suitable food sources (6.55). Recent research has shown that koalas can develop gut bacteria specific for digesting the leaves in their original habitat, so even the right variety of trees in a new area cannot be properly consumed (6.57).    
  p Additionally, where offsetting koalas is used as alternative to translocating koalas, the current regulations (cl 6.2 (2)(d) of the Biodiversity Conservation Regulation 2017) are such that mining companies can agree to rehabilitate a mine site on closure as an offset, which might be 30 or 40 years too late for the existing koala population (Walmsey at 2.115).
