extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Alternatives?
  p Although there are some success stories, at least ten submissions highlight past translocation attempts that had “tragically failed” (6.53). Many other expert submissions expressed general disapproval of the strategy, for its high-risk and unproven results.
  p When koalas are translocated, they spend time on the ground acclimatising to their new environment. This puts them at higher risk of predation. Further, koalas feed on only a few species of eucalypt and their gut is sensitive to subtle changes in tree and soil types. Even within NSW, the feed trees of one koala population may be unsuitable for another (6.55, 6.57). Introduced koalas can also expose new disease to a local population, and vice-versa.
  p Some proposed translocation destinations are of seemingly high-quality habitat but have no local koala population. In these cases, there are reasons as to why a new habitat is devoid of koalas in the first place; be it food quality, feral animals, past bushfires, disease or other threats.

  p.absolute.bottom-0.mb-16.text-xs.italic(style="max-width: inherit") Note: Even where offsetting koalas is used as alternative to translocating koalas, the current regulations (cl 6.2 (2)(d) of the Biodiversity Conservation Regulation 2017) are such that mining companies can agree to rehabilitate a mine site on closure as an offset, which might be 30 or 40 years too late for the existing koala population (Walmsey at 2.115).
