extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Pest Management
  p The threat of increased pests affecting farmlands can be controlled through existing pest management strategies. Currently there are regional pest management strategies and threat abatement plans which operate across our National Parks. ((This is going to need some research - probably provide more detail on pest management as it currently stands. No real way to fully overcome this issue apart from greater resources invested in pest management.))
