extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Pests
  p 
    | Since the inquiry report was released, NSW Farmers Association 
    +link('raised concerns', 'https://www.abc.net.au/news/rural/2020-07-29/farmers-concerned-national-park-plan-to-double-koala-habitat/12498866')
    |  about increased national parks creating a breeding ground for pests.


  .py-8
