extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)

  p 
    | Pests can become rampant in national park, timber and forestry areas. Currently there are regional 
    +link('pest management strategies and threat abatement plans', 'https://www.environment.nsw.gov.au/topics/animals-and-plants/pest-animals-and-weeds/managing-pest-animals-and-weeds#:~:text=Pest%20animals%20and%20weeds%20found,in%20some%20parks%20and%20reserves')
    |  which operate across our National Parks, which would be applied to the Great Koala National Park. The NSW Government has shown commitment to undertake extensive culls of pest post-bushfires, 
    +link('though further efforts may be required', 'https://www.abc.net.au/news/rural/2020-05-18/efficacy-of-feral-animal-management-after-fires-questioned/12251256')
    | .
