extends ../partials/slide.pug

block content
  .bg-image.small.bg-right-bottom.bg-contain(style=`background-image: url(${imgpath}/wildfire.png); max-width: 300px`)

  h1 Fire Management
  
  .text-long
  
    p Timber NSW’s submission argued that wildfires pose the greatest risk to koalas, and argued that since so much national park had been burned in recent years, koalas may be better protected in state forests, where forest thinning and timber harvesting is allowed.
    
    p 
      | Although Timber NSW included statistics on the area of national park burned, they did not provide comparative numbers for state forests.
      | Perhaps because 
      +link('42% of all state forest','https://www.environment.nsw.gov.au/-/media/OEH/Corporate-Site/Documents/Parks-reserves-and-protected-areas/Fire/fire-and-the-environment-2019-20-summary-200108.pdf')
      |  in NSW was affected by the fires compared to 37% of national park.
    
    p Nevertheless, converting forest to national park alone is not enough. A rapid move toward preventive and proactive fire management that emphasises cultural burning is essential for koala habitat conservation. Climate change mitigation is also crucial e.g. the 2019-20 bushfires. If resourced sufficiently, parks managed by the National Parks & Wildlife Service can remain healthy, biodiverse, and fire-resilient.
    
  .btn Enter the Great Koala National Park >>
