extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Fire Management
  p Finally, won’t more national parks increase the risk of wildfires which could decimate koala populations further?
