extends ../partials/slide.pug

block content
  .bg-image.bg-right-bottom.bg-cover(style=``)
  h1 Fire Management
  p Increased national park lands will increase the risk of wildfires in these areas. This is why better fire management practises need to prioritised, including Indigenous fire practises. This will not only serve the koala populations, but other wildlife that comes under threat from bushfires.
  p.italic (More research / go deeper into this.)
  p So, the economic imperative for koala national parks is strong. Translocation is ineffective as an alternative. And pest and fire management is possible. Koala national parks will save our koala populations.
