extends ../partials/slide.pug

block content
  .bg-image.small.bg-right-bottom.bg-contain(style=`background-image: url(${imgpath}/wildfire.png); max-width: 300px`)

  h1 Fire Management
  p Timber NSW’s submission argued that wildfires pose the greatest risk to koalas, and argued that since so much national park estate has been burned in recent years, koalas may be better protected in state forests, where forest thinning and timber harvesting is allowed.
  
  .py-12
