extends ../partials/slide.pug

block content
  .bg-image.bg-center-center.bg-cover(style=`background-image: url(${imgpath}/gknp.png)`)
  h1 Koala National Parks
  p Imagine a Great Koala NP, with long nature walks, cycling and thriving koala population.
