extends ../partials/slide.pug

block content

  .text-long
    
    p Although Timber NSW included statistics on the area of national park burned, they did not provide comparative numbers for state forests. Without this, it’s hard to substantiate their claims of greater protections in harvesting areas.

    p They did, however, mention that “the proportion of suitable koala habitat in this region could be greatly increased through improved fire management (i.e. controlled cool burning).” Perhaps, then, it’s not the legal status of the forest that determines its fire risk — it’s the quality of the fire management around it. That’s intuitive.

    p Converting forest to national park alone is not enough. A rapid move toward preventive and proactive fire management, led by Indigenous fire practitioners, is also essential for koala habitat conservation. The 2019-20 bushfires showed the urgency of this. If resourced sufficiently, parks managed by the National Parks & Wildlife Service can remain healthy, biodiverse, and fire-resilient.
