extends ../partials/slide.pug

block content
  .bg-image.bg-center-center.bg-cover(style=`background-image: url(${imgpath}/gknp.png)`)
  
  .absolute.w-screen.left-0.bottom-0.mb-40
    .text-center: .inline-block.bg-yellow-300.text-green-400.pt-2.pb-1.px-6.text-sm.playfair.wght-650 WELCOME TO
    .text-center: blockquote.inline-block.px-6.py-2 The Great Koala National Park
