extends ../partials/slide.pug

block content
  
  .text-center.text-base
    
    .text-left
      h1 CREDITS
      
      p This website is a collaboration between 
        +link('Brody Smith', 'https://twitter.com/__brodysmith')
        |  and 
        +link('Alannah Milton', 'https://www.linkedin.com/in/alannah-milton-7143391a6/')
        | . Together, they storyboarded, researched and wrote the copy. 
      p 
        | Brody designed and built the website. He is an information designer at the Lowy Institute. 
        | Alannah created the illustrations. She is a law graduate at Colin Biggers and Paisley. 
        
    hr.my-8

    .uppercase.mb-4.text-sm.font-semibold.tracking-wide Special thanks to
    
    .opacity-75
    
    .flex.text-sm
      .flex-1
        b Dailan Pugh OAM<br>
        | President of the North<br>
        | East Forest Alliance
      .flex-1
        b Amelia Thorpe<br>
        | Associate Professor<br>
        | at UNSW Law
      .flex-1
        b Christopher McElwain<br>
        | PhD Candidate and Teaching<br>
        | Fellow at UNSW Law

    .py-6
    
    p.italic.text-sm.opacity-75
      | Thoughtful feedback appreciated from Bailey Chappel, Erin Bassett, and Joseph Rowlands.<br>
      | Design inspired by 
      +link('The Race Gap','https://graphics.reuters.com/GLOBAL-RACE/USA/nmopajawjva/index.html#1')
      | .
    
