extends ../partials/slide.pug

block content
  
  h1 BACK THE PARK
  
  p A petition puts the Park in front of Parliament. With 20&thinsp;000 signatures, NSW Parliament will schedule the Great Koala National Park for debate in the Legislative Assembly.
  
  .py-4
  
  .btn.btn-giant SIGN THE PETITION IN 30 SECONDS
  
  
  
  //form
    .form-line.flex
      label(for="firstname")
      input(type="text" name="firstname" placeholder="First Name")
      .px-2
      label(for="surname") 
      input(type="text" name="surname" placeholder="Last Name")
    
    .form-line
      label(for="email")
      input(type="email" name="email" placeholder="Email")
    
    .form-line
      label(for="subject")
      input(type="text" name="subject" placeholder="Subject")
    
    .form-line
      label(for="subject")
      textarea(rows="3" name="subject" placeholder="A really good email")
    
