extends ../partials/slide.pug

block content
  
  h1 BACK THE PARK
  
  p A petition puts the Park in front of Parliament. With 20&thinsp;000 signatures, NSW Parliament will schedule the Great Koala National Park for debate in the Legislative Assembly.
  
  .py-4
  
  .btn.btn-giant.relative(onclick="this.firstElementChild.classList.toggle('open')") SIGN THE PETITION IN 30 SECONDS
    #warning.slide-up Petition launching in mid-January!
