// ANIMATION ONLY CLASSES

.slide-up {
  animation: slide-up .5s .25s cubic-bezier(0.41, 0.46, 0.17, 2) 1 forwards;
  -webkit-animation: slide-up .5s .25s cubic-bezier(0.41, 0.46, 0.17, 2) 1 forwards;
}

.slide-up-full {
  animation: slide-up-full 0.3s 0.35s cubic-bezier(0.3, 0.24, 0.39, 1.04) 1 forwards;
  -webkit-animation: slide-up-full 0.3s 0.35s cubic-bezier(0.3, 0.24, 0.39, 1.04) 1 forwards;
}

.fade-in {
  animation: fade-in 1.25s ease 1 forwards;
  -webkit-animation: fade-in 1.25s ease 1 forwards;
}

.flash-linear {
  animation: flash 6s linear;
  -webkit-animation: flash 6s linear;
}

.animate-ping-once {
	animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 1 forwards;
}

.flash {
  animation: flash 6s cubic-bezier(0, 0.33, 1, 0.67);
  -webkit-animation: flash 6s cubic-bezier(0, 0.33, 1, 0.67);
}
.block-reveal {
  width: 0%;
  height: 100%;
  animation: block-reveal 1.5s cubic-bezier(.74, .06, .4, .92) forwards;
  -webkit-animation: block-reveal 1.5s cubic-bezier(.74, .06, .4, .92) forwards;
}

/*! purgecss start ignore */
@for $i from 0 through 20 {
  .delay-#{$i} {
    animation-delay: $i * 80ms;
    -webkit-animation-delay: $i * 80ms;
  }
}

@for $i from 0 through 50 {
  .recommendation-transition-#{$i} {
    transition:         all ease-out 0.5s $i * 10ms, background-color 0.3s, color 0.1s;
    -webkit-transition: all ease-out 0.5s $i * 10ms, background-color 0.3s, color 0.1s;
  }
}
/*! purgecss end ignore */

// KEYFRAMES

@keyframes ping {
  0% {
    transform: scale(.5);
    opacity: 1;
  }
  75%, 100% {
    transform: scale(1);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-up {
  0% { transform: translateY(1em); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@-webkit-keyframes slide-up {
  0% { transform: translateY(1em); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slide-up-full {
  0% { transform: translateY(100%); opacity: .75; }
  100% { transform: translateY(0);  opacity: 1; }
}
@-webkit-keyframes slide-up-full {
  0% { transform: translateY(100%); opacity: 0; opacity: .75; }
  100% { transform: translateY(0); opacity: 1;  opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@-webkit-keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes flash {
  0% { opacity: 0; }
  15% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes flash {
  0% { opacity: 0; }
  15% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes block-reveal {
  0% {
    width: 0%;
    left: -5%;
  }
  50% {
    width: 110%;
    left: -5%;
  }
  100% {
    width: 0;
    left: 105%;
  }
}
@-webkit-keyframes block-reveal {
  0% {
    width: 0%;
    left: -5%;
  }
  50% {
    width: 110%;
    left: -5%;
  }
  100% {
    width: 0;
    left: 105%;
  }
}
