#title-slide { display: none; }
#loader, #embargo, #mobile-wall {
  @apply fixed h-screen w-screen z-50 bg-green-400 flex flex-col justify-center items-center pointer-events-none duration-500;
}
#mobile-wall {display: none;}
@media (orientation: portrait) { #mobile-wall {display: flex;} }


.content {
  @apply px-6;
  
  .content-inner { max-width: 44rem; margin: auto }
  &-wide .content-inner { max-width: 56rem; margin: auto }

}
.slides { @apply flex min-h-screen duration-500 ease-out text-lg; }
.slide  { @apply min-w-full min-h-screen flex flex-1 items-center justify-center m-auto relative; &-left { @apply justify-start } }
.footnote { @apply absolute opacity-75; font-size: 0.7em; top: calc(100% + 2rem) }
.text-long { @apply relative; }
.mobile-footer { @apply hidden; }


#pager {
  @apply absolute top-0 left-0 bg-green-200 duration-500 ease-out z-20;
  height: 5px
}

#nav {
  @apply fixed top-0 left-0 h-screen text-base z-40 text-white duration-300 p-8 bg-white text-green-400 border-green-300 border-r-4 font-medium;
  width: 240px;
  padding-top: 90px;
  transform: translateX(-240px);
  
  
  &::-webkit-scrollbar { width: 0; }
  &.open { transform: translateX(0px);}
  
  &-btn {
    @apply fixed top-0 left-0 z-50 cursor-pointer duration-300;
    
    svg { @apply fill-current text-white m-8 duration-300; }
    &:hover svg{ @apply text-green-200 }
    
    rect { transition: transform 0.3s; transform-origin: left; }
  
    &.open {
      svg { @apply text-green-300; }
      svg:hover { @apply text-green-200 }
      rect:nth-child(1) { transform: rotate(45deg) translate(-1px,0); }
      rect:nth-child(2) { opacity: 0}
      rect:nth-child(3) { transform: rotate(-45deg) translate(-1px,0.9px); }
      
      #nav-btn-label { opacity: 0 }
    }
    
    &-label {
      @apply absolute text-white text-base;
      left: 5rem;
      top: 3rem;      
    }
    
  }
  
}

.nav-item {
  @apply py-1 whitespace-no-wrap cursor-pointer z-10 duration-300;
}
.nav-item:hover {
  @apply text-green-300;
  transform: translateX(2px); 
}


#timeline-wrap {
  @apply absolute inset-0 flex flex-col items-center justify-center mx-10;
  top: 3rem;
}
#timeline-bushfires { left: calc(80% - 60px); bottom: 2.25rem }
#timeline {
  .spacer { min-height: 2rem; }
  &::after {
    content: '';
    bottom: 2.75rem;
    width: 100%;
    border-bottom: 0.5px solid;
    @apply absolute border-white opacity-75;
  }
  .spacer::before {
    content: '';
    left: 50%;
    width: 0;
    height: 100%;
    border-left: 0.5px solid;
    @apply absolute border-white opacity-75;
  }
}

.map-col  { @apply w-7/12 }
.map-text { @apply w-5/12 my-auto pl-4 pr-8 relative }
.map-text.soln-map { @apply mr-20 pr-0 }
#nsw-instructions { @apply opacity-50 text-base text-gray-200; }


#decline-graph-quote  { @apply mx-auto text-center; max-width: 835px; }
#decline-graph-legend { @apply absolute bottom-0 flex flex-col; left: calc(50% + 225px); }
#occurence {
  height: calc(100% + 2px);
  transition-duration: 1.2s;
  transition-timing-function: ease-in-out;
  transform-origin: center;
  transform: scaleX(1);
  /* purgecss ignore */
  &.shrink { transform: scaleX(0.7) }
}
#radio-ui {
  @apply absolute bottom-0 text-center;
  left: calc(50% - 310px);

  label { @apply duration-500 rounded mx-2 px-4 py-2 cursor-pointer shadow-xl text-gray-400 bg-gray-200 select-none font-medium; }
  label:hover { @apply shadow-xs; }

  input:checked + label { @apply text-white; }
  input + label > .switch { transform: translateY(-51px) }
  input:checked + label > .switch { transform: translateY(0px) }
}


#recs-area { max-width: 490px; max-height: 420px }
.annotation {
  @apply absolute opacity-0 text-center text-white text-xs tracking-wide uppercase z-n1 text-green-200 duration-1000;
  width: 300px
}
.recommendation {
  @apply absolute rounded-full w-12 h-12 text-lg text-center ease-out font-bold cursor-pointer select-none;
  @apply bg-white text-green-400 border-2 border-white;
  line-height: 42px;

  &.active { @apply bg-green-400 text-white; }
  &.active  .tooltip { transform: translateY(0); }

  .tooltip {
    @apply absolute pointer-events-none leading-6 text-sm text-left font-normal bg-white rounded-lg p-4;
    @apply text-green-400 border-2 border-green-400;
    width: 90vw;
    max-width: 350px;
    left: calc(-175px + 2rem);
    bottom: 110%;
    transition: transform 0.4s, opacity 0.25s;
    transform: translateY(1em);
  }

}


#nsw-map svg,
#soln-map svg { @apply h-screen w-full; }


.btn.btn-giant {
  @apply rounded shadow-xl text-xl text-center bg-green-300 p-6 cursor-pointer my-2 mx-auto w-auto font-semibold tracking-wide uppercase select-none;
  &.yel { @apply bg-yellow-300 text-green-400 font-bold }
  &:hover {
    @apply bg-green-200;
    transform: translateY(-2px);
  }
}

.btn { @apply duration-300 text-gray-200 text-3xl font-semibold text-center pb-4 uppercase tracking-wide; }
.content-wide .btn { @apply px-4; }
.btn-next {
  animation: pulse 1s linear alternate infinite;
  -webkit-animation: pulse 1s linear alternate infinite;
 }
.btn-prev { @apply text-gray-200; transform: scale(0.75); transform-origin: bottom left;  }



.a{}
