@media (max-height: 800px) {

  .content { max-width: 44rem; }

  #nav { height: 3rem; }
  #home-nav-label { bottom: 3.75rem; @apply text-sm; }

  #decline-svg { height: 250px; width: 332px; }
  #decline-graph-legend { left: calc(50% + 195px); }
  #decline-graph-quote  { max-width: 625px; .text-lg { @apply text-base mx-0; } }
  #radio-ui { left: calc(50% - 290px); }

  #nsw-map svg  { height: 115vh; }
  #soln-map svg { height: 115vh; transform: translate(-1rem, -2rem); }

  .map-text { @apply text-base pl-0 }
  .map-text.soln-map { @apply pl-8 mr-8 }

  .uc-label { @apply text-sm; }
  .text-long { @apply text-base; }
  .footnote { @apply mt-8; position: relative; font-size: 0.8em}
  .map-text.soln-map { @apply mr-20 pr-0 }

}

@media (max-height: 600px) {
  .slide { overflow-y: scroll; height: 100vh; -ms-overflow-style: none; scrollbar-width: none; }
  .slide::-webkit-scrollbar { display: none; }
  //body { overflow-y: scroll; }
  
  #nav, #home-nav-label, #home-arrow-keys { display: none }
  .content, .content-wide { @apply absolute w-full h-auto py-12 top-0; }
  
  .mobile-footer { @apply fixed bottom-0 w-full block z-50 }
  .mobile-footer .btn { @apply px-4 py-2 }

}

@media (max-width: 1280px) {
  #timeline-wrap { @apply mx-4; }
}
