@media (max-height: 800px) {

  .content { max-width: 44rem; }

  #nav { height: 3rem; }
  #home-nav-label { bottom: 3.75rem; @apply text-sm; }

  #decline-svg { height: 250px; width: 332px; }
  #decline-graph-legend { left: calc(50% + 195px); }
  #decline-graph-quote  { max-width: 625px; .text-lg { @apply text-base mx-0; } }
  #radio-ui { left: calc(50% - 290px); }

  #nsw-map svg  { height: 115vh; }
  #soln-map svg { height: 115vh; transform: translate(-1rem, -2rem); }

  .map-text { @apply text-base pl-0 }
  // .map-text.soln-map { @apply pl-8 mr-8 w-1/2 }

  .uc-label { @apply text-sm; }
  .text-long { @apply text-base; }
  .footnote { @apply mt-8; position: relative; font-size: 0.8em}
  .map-text.soln-map { @apply mr-20 pr-0 }

}

@media (max-height: 600px) {
  .slide { overflow-y: scroll; height: 100vh; -ms-overflow-style: none; scrollbar-width: none; }
  .slide::-webkit-scrollbar, .map-text::-webkit-scrollbar, #recs::-webkit-scrollbar { display: none; }
  
  .slide.mobile-overflow { overflow-y: visible; }
  .mobile-overflow .content,
  .mobile-overflow .content-wide { overflow-y: visible; min-height: 100vh}
  
  #nav, #home-nav-label, #home-arrow-keys { display: none }
  .content, .content-wide { @apply absolute w-full h-auto py-12 top-0; }
  
  .mobile-footer { @apply fixed bottom-0 w-full block z-50 pointer-events-none }
  .mobile-footer .btn { @apply px-4 py-2 pointer-events-auto }
  
  #timeline-page { @apply relative h-screen }
  #timeline { @apply w-full flex-col; &::after{ @apply hidden; } }
  #timeline-wrap { @apply flex-col-reverse }
  #timeline-wrap h1 { @apply pt-12 pb-4 }
  #timeline .node { @apply p-0 flex-row items-center }
  #timeline .node { &:last-child { @apply pt-6 mb-16 } .my-2 { @apply py-2 my-0 } .mb-2 { @apply py-3 mb-0 } }
  #timeline .node .spacer { @apply h-full flex-none }
  #timeline .node .text-center { @apply px-6 text-right; width: 85px; &:last-child { @apply text-left; width: 80%; } }
  #timeline .year-2018 { @apply flex; .inline-block { @apply pl-8 m-auto } }
  #timeline-bushfires { left: 85px; bottom: 7.75rem }
  
  #recs { top: -2rem; height: calc(100vh + 2rem); overflow-y: scroll; }
  #recs-area { min-height: 420px; max-width: 460px; transform: scale(0.7) }
  .recommendation-text:not(.final) { right: -1rem; left: 5rem }
  .dash { transform: scale(0.5) translate(-0.75rem, 0) }
  
  
  #nsw-map, #soln-map { max-height: 100vh; overflow-y: hidden;}
  .map-text { @apply py-12; max-height: 100vh; overflow-y: scroll; }
  .map-text.soln-map { @apply mr-8 w-1/2 }

}

@media (max-width: 1280px) {
  #timeline-wrap { @apply mx-4; }
}
